
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


#bgheader { background-image: url(images/bg-header-desktop.png);
}


header {
    text-align: center;
   
}

#header-icone {
    top: 200px;
    left: 20%;
}